html,
body {
	min-height: 100vh;
	min-width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}

a,
p {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 2px;
}

a,
button {
	text-decoration: none;
	cursor: pointer;
}

img {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
	display: none;
}

.root {
	min-width: 100%;
	min-height: 100vh;
}
